* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
}

.mydiv {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:768px) {
    body {
        background-color: skyblue;
    }
    .mydiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width:320px) and (max-width:579px) {
    body {
        background-color: yellow;
    }
    .mydiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        bottom: 0px;
    }
}


/* @media screen and (max-width: 320px) and (max-width: 768px) {
    .mydiv h4 {
        text-align: center;
        background-color: yellow;
        color: brown;
    }
} */